/* CSS styles */
/* all property */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body {
	background: #FFFFFF;
}
header {
	font-weight: bold;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
}
article {
	background: #b0c4de;
	padding: 12px;
}
/* navbar section */
#navbar {
	display: flex;
	position: relative;
}
#navbar .sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	padding: 30px 0;
	display: block;
	background: #ADD8E6;
	width: 300px;
	line-height: 26px;
	border-top-right-radius: 5px;
}
#navbar .sidebar img {
	position: relative;
	width: 110px;
	height: 75px;
	cursor: pointer;
	margin-left: 90px;
}
#navbar .sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid #808080;
}
#navbar .sidebar ul li a {
	display: block;
	color: #000000;
	font-family: 'Poppins', sans-serif;
}
#navbar .sidebar ul li:hover {
	background: #82c4d9;
}
#navbar .sidebar ul li:hover a {
	color: #000000;
}
/* main content section */
#main-doc .main-section {
	margin-left: 305px;
}
#main-doc .main-section header {
	padding: 15px;
	border-bottom: 1px solid gray;
}
#main-doc .main-section p {
	font-size: 18.5px;
	padding: 10px;
}
#main-doc .main-section ul li {
	padding: 5px;
	margin-left: 40px;
	font-size: 17px;
}
#main-doc .main-section .sources:hover {
	text-decoration: underline;
}
#main-doc .main-section article {
	border-radius: 5px;
}
@media screen and (max-width: 992px) {
	header {
		font-size: 23px;
	}
	#main-doc .main-section p {
		font-size: 17px;
	}
	#main-doc .main-section ul li {
		font-size: 15px;
	} 
}
@media screen and (max-width: 768px) {
	#navbar .sidebar {
		width: 100px;
		height: 100%;
		width: 230px;
	}
	#main-doc .main-section {
		margin-left: 239px;
	}
	#navbar .sidebar img {
		margin-left: 55px;
	}
}
@media screen and (max-width: 600px) {
	#navbar .sidebar ul li a {
		font-size: 14px;
	}
	article {
		padding: 10px;
	}
}
